<div class="page-content">
  <h1 class="d-flex justify-content-center">About this site</h1>
  <h4 class="d-flex text-center">This site is designed to allow users to sign-up
  , login, and then join a chatroom with other users! You can view the chatroom
  without signing up, but you'll need to sign-up to chat!
<br />
<br />
<br />
<br />
