@import "bootstrap";

.onlinemenu {
  background-color :white;
  color: black;
  height: 450px;
}

.chatmenu {
  background-color :white;
  color: black;
  height: 450px;
}

.sendbutton {
  background: url('http://i.stack.imgur.com/e2S63.png') #f2f2f2;
  background-position: -9px -7px;
  background-repeat: no-repeat;
  background-size: 39px 43px;
  padding-left: 41px;
  color: #000;
}

.page-content {
  flex: 1 0 auto;
  background-color: lightblue;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.navbar {

}

.dropdown-menu {
background:transparent;
background-color: black;
margin: 0;
}

.dropdown-item {
  color: white;
  margin: 0;
}

.jumbo-bg {
  //background-image: url("image-bg4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link {
  color: white !important;
}

.admin-color {
  color: #FF3333
}

.mod-color {
  color: #008000
}

.owner-color {
  color: #ff9900
}

.navbar-toggler-icon {
   background-color: white;

}

#logo {
  float: left;
  font-size: 0.7cm;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

#footer {
  color: grey;
}

#coffee {
  color: darkorange;
}

#messages2 {
  
  overflow: auto;
}

a:link { text-decoration: none; }
